.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
}

#top h1 {
    text-align: center;
}

h1, h2, h3,
h4, h5, h6 {
    text-decoration: underline;
    color: #0084bd;
}

body {
    background-color: #e1c9a1;
    background-image: url("../img/github-logo.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right 1em top 1em;
    font-family: Montserrat;
}

ul {
    list-style: square;
}

table {
    text-align: left;
}

th {
    font-size: 1.5em;
}

th, td {
    padding: 0.25em;
    border: 1px solid;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
